azureml-core==1.28.0
cmake==3.18.2
torch==1.6.0
torchvision==0.7.0
mkl==2018.0.3
tensorboard==1.14.0
future==0.17.1
adlfs==0.6.3
fsspec==0.8.7
pandas==1.1.5
rasterio==1.2.0
xarray==0.16.2
zarr==2.6.1
fiona==1.8.18
affine==2.3.0
pyyaml==5.4.1
richdem==0.3.4
netcdf4==1.5.6
rtree==0.9.7
shapely==1.7.1 --no-binary shapely
rioxarray==0.3.1
geopandas
matplotlib
pygeos --no-binary pygeos
tenacity
Pillow
matplotlib
