html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#map {
  height: 100%;
  display: flex;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('./hm_mockup.png');
}

#toc {
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  top: 10px;
  left: 10px;
  height: 190px;
  width: 230px;
  opacity: 0.75;
  z-index:1;
}

#legend {
  padding-top: 5px;
  padding-left: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 220px;
  width: 290px;
  opacity: 0.75;
  z-index: 1;
}

#hm-ramp {
  background: linear-gradient(rgb(0,0,0), rgb(255,255,255));
  float: left;
  width: 2rem;
  height: 100px;
}

#hm-ramp-labels {
  padding-left: 5px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#change-swatch {
  margin-top: 10px;
  margin-right: 3px;
  float: left;
  height: 2rem;
  width: 4rem;
  background-color: red;
}

#change-label {
  margin-top: 13px;
}

#zoom {
  position: absolute;
  z-index: 1;
  bottom: 100px;
  right: 1rem;
}

#logo {
  position: absolute;
  z-index: 1;
  bottom: 1.5rem;
  right: 1rem;
  width: 13vw;
}

/* colors */
.bg-csp-black { background-color: rgb(26,32,44); }
.text-csp-black { color: rgb(26,32,44); }

.bg-csp-light-black { background-color: #232c3c; }

.bg-blue-one { background-color: rgb(0, 73, 131); }
.text-blue-one { color: rgb(0, 73, 131); }

.bg-blue-two { background-color: rgb(81,118,164); }
.text-blue-two { color: rgb(81,118,164); }
.border-blue-two { border-color: rgb(81, 118, 164); }

.bg-blue-three { background-color: rgb(112, 147, 183); }
.text-blue-three { color: rgb(112, 147, 183); }

.bg-red { background-color: rgb(207,31,37); }
.text-red { color: rgb(207,31,37); }

.bg-orange { background-color: rgb(226, 85, 38); }
.text-orange { color: rgb(226, 85, 38); }

.bg-light-green { background-color: rgb(190,215,71); }
.text-light-green { color: rgb(190,215,71); }

.bg-light-gray { background-color: rgb(206, 216, 215); }
.text-light-gray { color: rgb(206, 216, 215); }
.bg-light-grey { background-color: rgb(206, 216, 215); }
.text-light-grey { color: rgb(206, 216, 215); }

.bg-gray { background-color: rgb(205,194,175); }
.text-gray { background-color: rgb(205,194,175); }
.bg-grey { background-color: rgb(205,194,175); }
.text-grey { background-color: rgb(205,194,175); }
